.hide {
  display: none;

  &--for-xs {
    @media screen and (max-width: $md-media - 1) {
      display: none;
    }
  }

  &--from-md {
    @media screen and (min-width: $md-media) {
      display: none;
    }
  }

  &--from-lg {
    @media screen and (min-width: $lg-media) {
      display: none;
    }
  }

  &--from-xl {
    @media screen and (min-width: $xl-media) {
      display: none;
    }
  }
}

.show {
  &--from-md {
    @media screen and (max-width: $md-media - 1) {
      display: none;
    }
  }

  &--from-lg {
    @media screen and (max-width: $lg-media - 1) {
      display: none;
    }
  }

  &--from-xl {
    @media screen and (max-width: $xl-media - 1) {
      display: none;
    }
  }
}
