.container {
  width: $xs-content;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  // media
  @media screen and (min-width: $md-media) {
    width: $md-content + $md-grid-gutter;
    padding: 0 $md-grid-gutter/2;
  }

  @media screen and (min-width: $lg-media) {
    width: $lg-content + $lg-grid-gutter;
    padding: 0 $lg-grid-gutter/2;
  }

  @media screen and (min-width: $xl-media) {
    width: $xl-content + $xl-grid-gutter;
    padding: 0 $xl-grid-gutter/2;
  }
}

.row {
}
